/* Twilight 3.0 Style */
/* Basic Layout */

html {
  position: relative;
  min-height: 100%;

}

a {
  text-decoration: none;
  color: #CCC;
  -webkit-transition-duration: 0.2s;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition-duration: 0.2s;
}

body {
	background: #FEFEFE;
	margin: 0px 0px 70px 0px;
	padding-top: 0px;
  font-family: 'Oxygen', sans-serif;
  color: #111;
}

.articleWrap {
  display: inline-block;
  width: 100%;
  min-width: 480px;
  border: 1px solid red;
  margin-bottom: 40px;
}

.articleImg {
  float: left;
  margin-top: 5px;
}

.articleTxt {
  float: left;
  padding: 0px 0px 0px 20px;
}

.articleTxt > h1 {
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
	background: #3b3b3b;
	color: #FEFEFE;
	height: 70px;
}

.footnote{
  margin-top: 14px;
  text-align: center;
  color: #606060;
  font-size: 0.7em;
}

.sleeve {
  padding: 15px;
}

.test {
  margin: 0 auto;
}

.nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2000;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 50px;
  text-shadow: 0px 0px 3px black;
  background: -webkit-linear-gradient(rgba(1,1,1,1) 40%, rgba(1,1,1,0)); /* For Safari 5.1 to 6.0 */
  background:      -o-linear-gradient(right, rgba(1,1,1,1) 40%, rgba(1,1,1,0)); /* For Opera 11.1 to 12.0 */
  background:    -moz-linear-gradient(right, rgba(1,1,1,1) 40%, rgba(1,1,1,0)); /* For Firefox 3.6 to 15 */
  background:         linear-gradient(rgba(1,1,1,1) 40%, rgba(1,1,1,0)); /* Standard syntax (must be last) */
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
}

.nav-art2 {
  background:#222;
  border-bottom: 2px solid #f0d11d;
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
}

.nav-normal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2000;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 50px;
  background:#222;
  border-bottom: 2px solid #f0d11d;
}

a.current {
  color: #fff;
}

.dt {
  float: left;
  padding-top: 17px;
  line-height: 20px;
  font-size: 1.7em;
  font-weight: 400;
}

.menu{
  list-style: none;
  float: right;
}

.menu>li {
   float: left;
   display: block;
   position: relative;
   margin-left: 20px;
   font-weight: 400;
 }

.menu>li>a {
  padding-bottom: 15px;
  padding-top: 15px;
}

.menu>li.hidden {
   display: none;
 }
 
.navbtn {
  width: 18px;
  padding-top: 3px;
  padding-left: 3px;
} 
  
/* 배너 관련 스타일 1 Mar. 2014 */
#bannerbox {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  background-image: url("../img/wtf.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

.slot {
  position: absolute;
  background-position: center center;  
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active {
  z-index: 2;
}
/* 배너 관련 스타일 끝 */

.container {
  padding: 20px 10px 75px 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid aqua;
  box-sizing: border-box;
  width: 990px;
}

.nobanner {
  margin-top: 60px;
}